USE [ShopDienThoai]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [nvarchar](128) NULL,
	[MaSanPham] [int] NULL,
	[TenTaiKhoan] [varchar](50) NULL,
	[NoiDung] [nvarchar](200) NULL,
	[ThoiGian] [datetime] NULL CONSTRAINT [DF_BinhLuan_ThoiGian]  DEFAULT (getdate()),
	[TinhTrang] [int] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTiet] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[MaTaiKhoan] [nvarchar](128) NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[DonGia] [float] NULL,
	[BiXoa] [int] NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[MaChiTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [nvarchar](128) NULL,
	[MaTinhTrang] [int] NULL,
	[NgayThanhToan] [datetime] NULL CONSTRAINT [DF_DonHang_NgayThanhToan]  DEFAULT (getdate()),
	[BiXoa] [int] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MaTaiKhoan] [nvarchar](128) NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NULL,
	[DaThanhToan] [int] NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSP](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[BiXoa] [int] NULL,
 CONSTRAINT [PK_HangSP] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[BiXoa] [int] NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[MaHang] [int] NULL,
	[MaLoai] [int] NULL,
	[HinhAnh] [nvarchar](50) NULL,
	[TinhTrang] [int] NULL,
	[GiaBan] [float] NULL,
	[SoLuong] [int] NULL,
	[BiXoa] [int] NULL,
	[ChiTiet] [nvarchar](500) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhThanh]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhThanh](
	[MaTinhThanh] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhThanh] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhThanh] PRIMARY KEY CLUSTERED 
(
	[MaTinhThanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhTrangDH]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangDH](
	[MaTinhTrang] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrangDH] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TinhTrangSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhTrangSP](
	[MaTinhTrang] [int] IDENTITY(1,1) NOT NULL,
	[TenTinhTrang] [nvarchar](50) NULL,
 CONSTRAINT [PK_TinhTrangSP] PRIMARY KEY CLUSTERED 
(
	[MaTinhTrang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[v_ChiTietDonHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_ChiTietDonHang]
AS
SELECT        dbo.ChiTietDonHang.SoLuong, dbo.SanPham.TenSP, dbo.ChiTietDonHang.DonGia, dbo.ChiTietDonHang.MaDonHang, dbo.SanPham.HinhAnh
FROM            dbo.ChiTietDonHang INNER JOIN
                         dbo.SanPham ON dbo.ChiTietDonHang.MaSanPham = dbo.SanPham.MaSP

GO
/****** Object:  View [dbo].[v_DonHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_DonHang]
AS
SELECT        dbo.DonHang.MaDonHang, dbo.DonHang.MaTK, dbo.DonHang.NgayThanhToan, dbo.DonHang.BiXoa, dbo.TinhTrangDH.TenTinhTrang, dbo.DonHang.MaTinhTrang
FROM            dbo.DonHang INNER JOIN
                         dbo.TinhTrangDH ON dbo.DonHang.MaTinhTrang = dbo.TinhTrangDH.MaTinhTrang

GO
/****** Object:  View [dbo].[v_GioHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_GioHang]
AS
SELECT        dbo.GioHang.id, dbo.GioHang.MaTaiKhoan, dbo.GioHang.MaSanPham, dbo.GioHang.SoLuong, dbo.SanPham.TenSP, dbo.SanPham.HinhAnh, dbo.SanPham.GiaBan, dbo.SanPham.GiaBan * dbo.GioHang.SoLuong AS ThanhTien, 
                         dbo.GioHang.DaThanhToan
FROM            dbo.GioHang INNER JOIN
                         dbo.SanPham ON dbo.GioHang.MaSanPham = dbo.SanPham.MaSP

GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'16e08745-8209-458b-9b93-2e30298d6f40', N'Admin')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', N'16e08745-8209-458b-9b93-2e30298d6f40')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'5389c3ec-0071-48c5-b461-7d3a86b73b35', N'test@gmail.com', 0, N'AMvNulfIAE3RbWWWNaILZVQVrZwpzexMOyISzVZ8y8oDX9BFrww66p85Q68xN52QAQ==', N'ab5110e4-d754-4b56-b0e1-38b176163d54', NULL, 0, 0, NULL, 1, 0, N'test@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'7a6df105-9e0a-4879-ae7f-1a0a067614b8', N'huynhvinhphat@gmail.com', 0, N'AABBo9F+XMwqKnQecBHwFgKn1zTFGFYUOoohCP4UU3QV7aeOBGDjqrAMrlhxbuH1/g==', N'0720c5c8-f7c0-4093-b7d2-c21b908b8be3', NULL, 0, 0, NULL, 1, 0, N'huynhvinhphat@gmail.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', N'phat@gmail.com', 0, N'AEi9VzQ3bFdqlUdujvcn3rhFXXXjY1oU0vM0o70gFoaj5Zu9zYW5r4vaq3H3sTTtIQ==', N'4e473a0d-aa86-432a-912c-2d601a2fd44d', NULL, 0, 0, NULL, 0, 0, N'phat@gmail.com')
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([MaBinhLuan], [MaTaiKhoan], [MaSanPham], [TenTaiKhoan], [NoiDung], [ThoiGian], [TinhTrang]) VALUES (7, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 4, N'phat@gmail.com', N'alo', CAST(N'2017-05-09 15:12:21.847' AS DateTime), 0)
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [MaTaiKhoan], [MaSanPham], [TenTaiKhoan], [NoiDung], [ThoiGian], [TinhTrang]) VALUES (8, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 4, N'phat@gmail.com', N'test2', CAST(N'2017-05-09 15:13:31.153' AS DateTime), 0)
INSERT [dbo].[BinhLuan] ([MaBinhLuan], [MaTaiKhoan], [MaSanPham], [TenTaiKhoan], [NoiDung], [ThoiGian], [TinhTrang]) VALUES (9, N'7a6df105-9e0a-4879-ae7f-1a0a067614b8', 4, N'huynhvinhphat@gmail.com', N'test123', CAST(N'2017-05-09 16:12:02.067' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaTaiKhoan], [MaSanPham], [SoLuong], [DonGia], [BiXoa]) VALUES (31, 33, N'7a6df105-9e0a-4879-ae7f-1a0a067614b8', 4, 2, 7250000, 0)
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaTaiKhoan], [MaSanPham], [SoLuong], [DonGia], [BiXoa]) VALUES (32, 34, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 5, 1, 15900000, 0)
INSERT [dbo].[ChiTietDonHang] ([MaChiTiet], [MaDonHang], [MaTaiKhoan], [MaSanPham], [SoLuong], [DonGia], [BiXoa]) VALUES (33, 35, N'7a6df105-9e0a-4879-ae7f-1a0a067614b8', 4, 1, 7250000, 0)
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaTinhTrang], [NgayThanhToan], [BiXoa]) VALUES (33, N'7a6df105-9e0a-4879-ae7f-1a0a067614b8', 2, CAST(N'2017-06-18 13:31:42.000' AS DateTime), 0)
INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaTinhTrang], [NgayThanhToan], [BiXoa]) VALUES (34, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 1, CAST(N'2017-06-18 15:47:35.410' AS DateTime), 0)
INSERT [dbo].[DonHang] ([MaDonHang], [MaTK], [MaTinhTrang], [NgayThanhToan], [BiXoa]) VALUES (35, N'7a6df105-9e0a-4879-ae7f-1a0a067614b8', 1, CAST(N'2017-06-18 18:51:43.257' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([id], [MaTaiKhoan], [MaSanPham], [SoLuong], [DaThanhToan]) VALUES (37, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 4, 2, 1)
INSERT [dbo].[GioHang] ([id], [MaTaiKhoan], [MaSanPham], [SoLuong], [DaThanhToan]) VALUES (38, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 4, 1, 1)
INSERT [dbo].[GioHang] ([id], [MaTaiKhoan], [MaSanPham], [SoLuong], [DaThanhToan]) VALUES (39, N'86beb9e4-d0ef-413a-a8a1-edc276d939ab', 4, 1, 1)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
SET IDENTITY_INSERT [dbo].[HangSP] ON 

INSERT [dbo].[HangSP] ([MaHang], [TenHang], [BiXoa]) VALUES (1, N'Samsung', 0)
INSERT [dbo].[HangSP] ([MaHang], [TenHang], [BiXoa]) VALUES (2, N'Apple', 0)
INSERT [dbo].[HangSP] ([MaHang], [TenHang], [BiXoa]) VALUES (3, N'Sony', 0)
SET IDENTITY_INSERT [dbo].[HangSP] OFF
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [BiXoa]) VALUES (1, N'SmartPhone', 0)
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [BiXoa]) VALUES (2, N'Tablet', 0)
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai], [BiXoa]) VALUES (3, N'Laptop', 0)
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaHang], [MaLoai], [HinhAnh], [TinhTrang], [GiaBan], [SoLuong], [BiXoa], [ChiTiet]) VALUES (4, N'SamSung Galaxy A7', 1, 1, N'samsunggalaxya7.jpg', 1, 7250000, 4, 0, N'<p>M&agrave;n H&igrave;nh: &nbsp; &nbsp; &nbsp; &nbsp; 5.0&#39;&#39;,Full HD</p><p>Hệ Điều H&agrave;nh: &nbsp; Android 6.0</p><p>Camera Sau: &nbsp; &nbsp;12MP</p><p>Camera Trước: 3MP</p><p>CPU: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Exnos 7650</p><p>Ram: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4GB</p>')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaHang], [MaLoai], [HinhAnh], [TinhTrang], [GiaBan], [SoLuong], [BiXoa], [ChiTiet]) VALUES (5, N'Iphone 7 plus', 2, 1, N'iphone7plus.jpg', 1, 15900000, 0, 0, N'<p>M&agrave;n H&igrave;nh: &nbsp; &nbsp; &nbsp; &nbsp; 5.5&#39;&#39;,Full HD</p><p>Hệ Điều H&agrave;nh: &nbsp; ios 9.0</p><p>Camera Sau: &nbsp; &nbsp;12MP</p><p>Camera Trước: 3MP</p><p>CPU: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Apple A9</p><p>Ram: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3GB</p>')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [MaHang], [MaLoai], [HinhAnh], [TinhTrang], [GiaBan], [SoLuong], [BiXoa], [ChiTiet]) VALUES (6, N'Iphone 6', 2, 1, N'iphone6.jpg', 1, 8990000, 3, 0, N'<p>M&agrave;n H&igrave;nh: &nbsp; &nbsp; &nbsp; &nbsp; 5.5&#39;&#39;,Full HD</p><p>Hệ Điều H&agrave;nh: &nbsp; ios 9.0</p><p>Camera Sau: &nbsp; &nbsp;12MP</p><p>Camera Trước: 3MP</p><p>CPU: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Apple A9</p><p>Ram: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3GB</p>')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[TinhThanh] ON 

INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (1, N'An Giang')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (2, N'Bà Rịa - Vùng Tàu')
INSERT [dbo].[TinhThanh] ([MaTinhThanh], [TenTinhThanh]) VALUES (3, N'Bắc Giang')
SET IDENTITY_INSERT [dbo].[TinhThanh] OFF
SET IDENTITY_INSERT [dbo].[TinhTrangDH] ON 

INSERT [dbo].[TinhTrangDH] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Đang chờ kiểm duyệt')
INSERT [dbo].[TinhTrangDH] ([MaTinhTrang], [TenTinhTrang]) VALUES (2, N'Đang Giao')
INSERT [dbo].[TinhTrangDH] ([MaTinhTrang], [TenTinhTrang]) VALUES (3, N'Đã Giao')
SET IDENTITY_INSERT [dbo].[TinhTrangDH] OFF
SET IDENTITY_INSERT [dbo].[TinhTrangSP] ON 

INSERT [dbo].[TinhTrangSP] ([MaTinhTrang], [TenTinhTrang]) VALUES (0, N'Hết hàng')
INSERT [dbo].[TinhTrangSP] ([MaTinhTrang], [TenTinhTrang]) VALUES (1, N'Còn hàng')
SET IDENTITY_INSERT [dbo].[TinhTrangSP] OFF
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_AspNetUsers] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_AspNetUsers]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_SanPham]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_AspNetUsers] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_AspNetUsers]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_SanPham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_AspNetUsers] FOREIGN KEY([MaTK])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_AspNetUsers]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TinhTrangDH] FOREIGN KEY([MaTinhTrang])
REFERENCES [dbo].[TinhTrangDH] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TinhTrangDH]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_AspNetUsers] FOREIGN KEY([MaTaiKhoan])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_AspNetUsers]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_SanPham] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_HangSP] FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangSP] ([MaHang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_HangSP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSP] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSP]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_TinhTrangSP] FOREIGN KEY([TinhTrang])
REFERENCES [dbo].[TinhTrangSP] ([MaTinhTrang])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_TinhTrangSP]
GO
/****** Object:  StoredProcedure [dbo].[KhoiPhucHangSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KhoiPhucHangSP] @id int
AS
BEGIN
	update HangSP SET BiXoa = 0 where MaHang=@id
END
GO
/****** Object:  StoredProcedure [dbo].[KhoiPhucLoaiSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KhoiPhucLoaiSP] @id int
AS
BEGIN
	update LoaiSP SET BiXoa = 0 where MaLoai=@id
END
GO
/****** Object:  StoredProcedure [dbo].[KhoiPhucSanPham]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[KhoiPhucSanPham] @id int
AS
BEGIN
	update SanPham SET BiXoa = 0 where MaSP=@id
END
GO
/****** Object:  StoredProcedure [dbo].[ThanhToan]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ThanhToan] @MaTaiKhoan nvarchar(128)
as
begin
	if(exists(select id from GioHang where MaTaiKhoan = @MaTaiKhoan and DaThanhToan = 0))
	begin
		declare a cursor for(select * from GioHang where MaTaiKhoan = @MaTaiKhoan and DaThanhToan = 0)
		insert into DonHang(MaTK,MaTinhTrang,BiXoa,NgayThanhToan) values(@MaTaiKhoan,1,0,getdate())
		declare @MaDonHang int
		select top 1 @MaDonHang = MaDonHang from DonHang where MaTK = @MaTaiKhoan order by MaDonHang desc

		declare @GioHangid int
		declare @MaTK nvarchar(128)
		declare @MaSP int
		declare @soluong int
		declare @Dathanhtoan int
		declare @GiaBan int
		open a
		fetch next from a into @GioHangid,@MaTK,@MaSP,@soluong,@Dathanhtoan
		while(@@FETCH_STATUS = 0)
		begin
			update SanPham set SoLuong = SoLuong - @soluong where MaSP = @MaSP
		    select @GiaBan = GiaBan from SanPham where MaSP = @MaSP
			insert into ChiTietDonHang(MaDonHang,MaSanPham,SoLuong,MaTaiKhoan,DonGia,BiXoa) values(@MaDonHang,@MaSP,@soluong,@MaTK,@GiaBan,0)
			fetch next from a into @GioHangid,@MaTK,@MaSP,@soluong,@Dathanhtoan
		end
		close a
		DEALLOCATE a
		update GioHang set DaThanhToan = 1 where MaTaiKhoan = @MaTaiKhoan
	end
		
end
GO
/****** Object:  StoredProcedure [dbo].[ThemGioHang]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ThemGioHang] @MaSanPham int,@MaTaiKhoan nvarchar(128)
as
begin
	if(exists(select id from GioHang where MaTaiKhoan = @MaTaiKhoan and MaSanPham=@MaSanPham and DaThanhToan = 0))
		update GioHang set SoLuong=SoLuong + 1 where MaTaiKhoan=@MaTaiKhoan and MaSanPham = @MaSanPham and DaThanhToan = 0
	else
		insert into GioHang(MaTaiKhoan,MaSanPham,SoLuong,DaThanhToan) values(@MaTaiKhoan,@MaSanPham,1,0)
end
GO
/****** Object:  StoredProcedure [dbo].[XoaHangSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaHangSP] @id int
AS
BEGIN
	update HangSP SET BiXoa = 1 where MaHang=@id
END
GO
/****** Object:  StoredProcedure [dbo].[XoaLoaiSP]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaLoaiSP] @id int
AS
BEGIN
	update LoaiSP SET BiXoa = 1 where MaLoai=@id
END
GO
/****** Object:  StoredProcedure [dbo].[XoaSanPham]    Script Date: 6/18/2017 7:32:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XoaSanPham] @id int
AS
BEGIN
	update SanPham SET BiXoa = 1 where MaSP=@id
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "SanPham"
            Begin Extent = 
               Top = 6
               Left = 246
               Bottom = 136
               Right = 416
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ChiTietDonHang"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 3
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_ChiTietDonHang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_ChiTietDonHang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "DonHang"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 216
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "TinhTrangDH"
            Begin Extent = 
               Top = 6
               Left = 254
               Bottom = 102
               Right = 424
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_DonHang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_DonHang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "GioHang"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "SanPham"
            Begin Extent = 
               Top = 5
               Left = 354
               Bottom = 135
               Right = 524
            End
            DisplayFlags = 280
            TopColumn = 4
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_GioHang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'v_GioHang'
GO
